<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit your information</h1>
    <form action="/profile/?_method=PUT" method="POST">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" value="<%= profile.firstName %>" required />

        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" value="<%= profile.lastName %>" required />

        <label for="company">Company:</label>
        <input type="text"  name="company" id="company" value="<%= profile.company %>" required />

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= profile.email %>" required />

        <label for="experience">Years of Experience: </label>
        <input type="number" name="experience" id="experience" value="<%= profile.experience %>" required />

        <button type="submit">Edit Profile</button>
    </form>
</body>
</html>