<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= profile.firstName  %></title>
</head>
<body>
    <h1>Profile</h1>
    <h2>First Name: <%= profile.firstName %></h2>
    <h2>Last Name: <%= profile.lastName %></h2>
    <h2>Company: <%= profile.company %></h2>
    <h2>Email: <%= profile.email %></h2>
    <h2>Years of Experience: <%= profile.experience %></h2>
</body>
</html>