<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= currentUser.profileId.company %> - Posts</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">

        <div class="owner-app">
            <h1><%= currentUser.profileId.firstName %>`s App</h1>
        </div>
    <% if (userPosts.length > 0) { %>

    <div class="post-details">
        <ul class="post-info">
        <% userPosts.forEach(post => { %>

        <div class="show-header">
        <h1><%= post.title %></h1>
        </div>
        <img src="<%= post.img %>" alt="postImg" class="post-img">
        <li><strong>Description:</strong><%= post.description %></li>
        <li><strong>Category:</strong><%= post.category %></li>
    <% }) %> 
    <% } else { %>
        <p> There are no posts in Users app</p>
   <% } %>
    </div>   
    <div class="owner-info">
   <% if (currentUser.profileId && userPosts.length > 0) { %>
        <h3>Listed By</h3>
        <p><strong>Name:</strong><%= currentUser.profileId.firstName %> <%= currentUser.profileId.lastName %></p>
        <p><strong>Company:</strong> <%= currentUser.profileId.company %></p>
        <p><strong>Experience:</strong> <%= currentUser.profileId.experience %> years</p>
    <% } else { %>
        <p>No profile information available.</p>
    <% } %>
    </div>
    </ul>

    <a class="post-link" href="/users">Back to Users App</a>
    </div>
</body>
</html>