<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users App</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Users App</h1>
    <% if (userPosts.length > 0 ) { %>
    <ul>
        <% userPosts.forEach(post => { %>
        <li><strong>Title:</strong><%= post.title %></li>
        <li><strong>Description:</strong><%= post.description %></li>
        <li><strong>Category:</strong><%= post.category %></li>
        <li><strong>Image:</strong><img src="<%= post.img %>" alt="postImg" style="max-width: 30%; height: auto;" ></li>

    <% }) %> 
    <% } else { %>
        <p> There are no posts in Users app</p>
   <% } %>

   <% if (profile.profileId) { %>
    <div>
        <p>Listed By</p>
        <p><%= profile.profileId.firstName %> <%= profile.profileId.lastName %></p>
        <p><strong>Company:</strong> <%= profile.profileId.company %></p>
        <p><strong>Experience:</strong> <%= profile.profileId.experience %></p>
    </div>
    <% } else { %>
    <p>No profile information available.</p>
    <% } %>
    </ul>

    <a href="/users">Back to Users App</a>
</body>
</html>