<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts App</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Posts App</h1>
    <p>Welcome to the Posts App!</p>
    <a href="/users/<%= user._id %>/posts/new">Add new post</a>

    <% if(posts.length > 0) { %>
    <ul>
    <% posts.forEach(post => { %>
        <li>
        <a href="/users/<%= user._id %>/posts/<%= post._id %>">
         <%= post.title %>
        </a>
        </li>
        <% if (user._id.toString() === post.owner._id.toString()) { %>
        <a href="/users/<%= user._id %>/posts/<%= post._id %>/edit">
            <button type="submit">Update post</button>
        </a>

        <form action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete post</button>
        </form>
        <% } %>

    <% }) %>
    </ul>
    <% } else { %>
        <p> There are no posts in post app</p>
    <% } %>
   



</body>
</html>