<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= post.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="show-body">
        <div class="show-header">
            <h1><%= post.title %></h1>
        </div>
        <div class="post-details">
            <img src="<%= post.img %>" alt="postImg" class="post-img">
        </div>
    <ul class="post-info">
        <li><strong>Description:</strong><%= post.description %></li>
        <li><strong>Category:</strong><%= post.category %></li>        
    </ul>
    <div class="owner-info">
    <% if (post.owner.profileId) { %>
            <h3>Listed By</h3>
            <p><strong>Name:</strong><%= post.owner.profileId.firstName %> <%= post.owner.profileId.lastName %></p>
            <p><strong>Company:</strong> <%= post.owner.profileId.company %></p>
            <p><strong>Experience:</strong> <%= post.owner.profileId.experience %></p>
    <% } else { %>
        <p>No profile information available.</p>
    <% } %>
    </div>

    <div class="review-form">
    <form action="/users/<%= user._id %>/posts/<%= post._id %>/reviews" method="POST">
        <label for="rating">Rating:</label>
        <select name="rating" id="rating" required>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>

        <br>

        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" rows="3" cols="30"></textarea>
        <br>
        <button type="submit">Submit Review</button>
    </form>
    </div>
    <div class="reviews-section">
    <h3>Reviews:</h3>
    <% if (post.reviews.length > 0) { %>   
        <ul>
    <% post.reviews.forEach(review => { %>
        <li class="review-item">
          <span class="stars"><%= "⭐".repeat(review.rating) %></span> — 
          <a href=/users/<%= review.reviewerId._id  %>>
          <strong><%= review.reviewerId.username %></strong>: 
          </a>
          <%= review.comment %><br>
          <small>Posted on <%= new Date(review.createdAt).toLocaleDateString() %></small>
        </li>
    <% }) %>
    </ul>
    <% } else { %>
        <p>No reviews yet.</p>
    <% } %>
    </div>

    <a class="post-link" href="/users/<%= user._id %>/posts">Back to Post App</a>
  </div>

</body>
</html>