<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Post Page</h1>
    <ul>
        <li><strong>Title:</strong><%= post.title %></li>
        <li><strong>Description:</strong><%= post.description %></li>
        <li><strong>Category:</strong><%= post.category %></li>
        <li><strong>Image:</strong><img src="<%= post.img %>" alt="postImg" style="max-width: 30%; height: auto;" ></li>
        
    </ul>

    <% if (profile.profileId) { %>
        <div>
            <p>Listed By</p>
            <p><%= profile.profileId.firstName %> <%= profile.profileId.lastName %></p>
            <p><strong>Company:</strong> <%= profile.profileId.company %></p>
            <p><strong>Experience:</strong> <%= profile.profileId.experience %></p>
        </div>
    <% } else { %>
        <p>No profile information available.</p>
    <% } %>

    <a href="/users/<%= user._id %>/posts">Back to Post App</a>
</body>
</html>